<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div class="contact">
    <div class="email">
    <div class="icon">
      <div class="fa fa-envelope-open-o"></div>
    </div>
      <div class="info">
        <p style="opacity: 0.7;">EMAIL</p>
        <p>adrianna_mckeown@live.com</p>
      </div>
    </div>
    <div class="phone">
      <div class="icon">
        <div class="fa fa-phone"></div>
    </div>
    <div class="info">
      <p style="opacity: 0.7;">CALL</p>
      <p>704-989-1797</p>
    </div>
  </div>
  </div>
  <div class="social-media">
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/adriannamckeown/" target="_blank"></a>
    <a class="fa fa-github" href="https://github.com/amckeow3" target="_blank"></a>
    <a class="fa fa-facebook" href="https://www.facebook.com/adrianna.mckeown.3" target="_blank"></a>
  </div>
</main>
