<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<main>
  <h1><span>01.</span> ABOUT ME</h1>
  <div class="about-section">
    <img class="image" src="../../../assets/images/portfolio-photo.jpg" />
    <div class="right-column">
      <div class="about-text">
        My name is Adrianna McKeown and I am an aspiring Software Engineer. I have a BSBA in Management Information Systems and I am currently pursuing an MS degree in Information Technology with a concentration in Software Systems Design & Engineering.
      </div>
    </div>
  </div>
</main>
<!--
<main>
  <div class="header-txt">01. ABOUT ME</div>
  <div class="row">
    <div class="leftcolumn">
      <img class="image" src="../../../assets/images/portfolio-photo.jpg" />
    </div>
    <div class="rightcolumn">
      <div class="about">
        My name is Adrianna McKeown and I am an aspiring Software Engineer. I have a BSBA in Management Information Systems and I am currently pursuing an MS degree in Information Technology with a concentration in Software Systems Design & Engineering.
      </div>
  </div>

  </div>
</main>
-->
