<div class="main">
  <div class="row">
    <div claSS="leftcolumn">
      <h1>About Me</h1>
      <div class="about">
      Hello! My name is Adrianna McKeown and I am an aspiring Software Engineer. I have a BSBA in Management Information Systems and I am currently pursuing an MS degree in Information Technology with a concentration in Software Systems Design & Engineering.
      </div>
      <div class="tech-examples">
        Here are a few technologies I've been working with recently:
        <div class="row">
          <div class="leftlist">
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>Angular</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="rightlist">
          <ul>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>DigitalOcean</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="rightcolumn">
      <div class="imgbox">
        <img src="https://sat02pap001files.storage.live.com/y4mliD3TGFKFqAAjpQwPjyGqX3V_2SWmKMJNI70dTEiSXzO6xSa-YvLbUAPYW6P3NGcU3Kw-G0JqN300-tuw__fACLcFxwTMuhdpZ9tKwTotYQkA0I3WOyegA_u7rtNKiAJ7kEi0VNBFso1LsHvDUlSf-vMma-vl3BOxd0bF-JEAnobvQAsDI4tUHIm2bXbAij0?width=145&height=256&cropmode=none" width="165" height="277" />
      </div>-->
    </div>
  </div>
</div>

