<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

<main>
  <div class="header-txt"><span style="opacity: 1.5;">01.</span>ABOUT ME</div>
  <div class="row">
    <div class="leftcolumn">
      <div class="imgbox">
        <img src="../../../assets/images/portfolio-photo.jpg" width="180" height="250" />
      </div>
    </div>
    <div class="rightcolumn">
      <div class="about">
        My name is Adrianna McKeown and I am an aspiring Software Engineer. I have a BSBA in Management Information Systems and I am currently pursuing an MS degree in Information Technology with a concentration in Software Systems Design & Engineering.
      </div>
      <div class="tech-examples" style="margin-top: 4%;">
        Here are a few technologies I've been working with recently:
        <div class="row">
          <div class="leftlist">
          <ul>
            <li>Node.js</li>
            <li>Express</li>
            <li>Angular</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="rightlist">
          <ul>
            <li>MongoDB</li>
            <li>MySQL</li>
            <li>DigitalOcean</li>
            <li>Bootstrap</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    
  </div>
</main>
