<div class="main-page">
  <body>
    <div class="text-box">
    <h1>About Me</h1>
    <p>Hello, my name is Adrianna McKeown and I am an aspiring Software Engineer. I have a BSBA in Management Information Systems and I am currently
      pursuing an MS degree in Information Technology with a concentration in Software Systems Design & Engineering.
    </p>
  </div>

    <div class="imgbox" role="main">
      <img class="right-fit" src="https://sat02pap001files.storage.live.com/y4mliD3TGFKFqAAjpQwPjyGqX3V_2SWmKMJNI70dTEiSXzO6xSa-YvLbUAPYW6P3NGcU3Kw-G0JqN300-tuw__fACLcFxwTMuhdpZ9tKwTotYQkA0I3WOyegA_u7rtNKiAJ7kEi0VNBFso1LsHvDUlSf-vMma-vl3BOxd0bF-JEAnobvQAsDI4tUHIm2bXbAij0?width=145&height=256&cropmode=none" width="145" height="256" />
    </div>
  </body>
  </div>


