<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
  <ul>
    <!--<div style="text-align: center;">-->
    <li><a style="align-content: center;" [routerLink]="['/']">home</a></li>
    <li><a [routerLink]="['/about']">about</a></li>
    <li><a [routerLink]="['/projects']">projects</a></li>
    <li><a [routerLink]="['contact']">contact</a></li>
    <li><a class="resume-link" style="color: #d5b5ff; border-radius: 12px;" onMouseOver="this.style.color='#01011d'; this.style.background='#ba85ff';"
      onMouseOut="this.style.color='#ba85ff'; this.style.background='#01011d'" href="https://documentcloud.adobe.com/link/track?uri=urn:aaid:scds:US:38eb60b1-370c-487e-81ac-932b3990aff4" target="_blank">resume</a></li>
</ul>
</nav>
