<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav>
  <ul>
    <!--<div style="text-align: center;">-->
    <li><a style="align-content: center;" [routerLink]="['/']">home</a></li>
    <li><a [routerLink]="['/about']">about</a></li>
    <li><a [routerLink]="['/projects']">projects</a></li>
    <li><a [routerLink]="['contact']">contact</a></li>
    <li><a class="resume-link" style="color: #d5b5ff; border-radius: 12px;" onMouseOver="this.style.color='#01011d'; this.style.background='#ba85ff';"
      onMouseOut="this.style.color='#ba85ff'; this.style.background='#01011d'" href="https://onedrive.live.com/view.aspx?cid=B4EB73BCC95BA7FB&resid=B4EB73BCC95BA7FB%2122367&canary=AvRHzychmWRSCdH7rRShJGRegC9n4pTdlsHCm9Ux%2Brs%3D9&ithint=%2Epdf&open=true&app=WordPdf" target="_blank">resume</a></li>
</ul>
</nav>

