<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div class="intro-text">
    <div class="hello">Hello, my name is</div>
    <h1>Adrianna McKeown</h1>
    <div class="blurb">
      I am a software engineer in the making.
    </div>
    <button type="button" class="more-button" [routerLink]="['/about']">More about me</button>
</div>

<!---
<div class="email">
  adrianna_mckeown@live.com
</div>

<div class="social-media">
  <a href="https://www.linkedin.com/in/adriannamckeown/" class="fa fa-linkedin" target="_blank"></a>
  <a href="https://github.com/amckeow3?tab=repositories" class="fa fa-github" target="_blank"></a>
</div>
</main>
-->
