@import '../../../styles.scss';

main {
  height: 640px;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.intro-text {
 margin-left: 20%;
 display: inline-block;
 max-width: 100%;
 margin-top: 6%;
 align-items: center;
 text-align: left;
}

 h1 {
   font-size: 70px;
   color: $melon;
   font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', Optima, Arial, sans-serif;
   margin-bottom: -1%;
   font-weight: 400;
   letter-spacing: 1px;
 }

 .blurb {
  font-size: 40px;
  color: $melon;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: 100;
  opacity: 0.85;
  margin-top: 10px;
  margin-bottom: 10px;
 }

.more-button {
 margin-top: 4%;
 border-radius: 12px;
 background-color: none;
 border: 2px solid $tiffany-blue;
 color: $tiffany-blue;
 font-size: 20px;
 padding: 12px 20px;
 //font-family: 'Courier New', monospace;
 font-family: Consolas, monaco, monospace;
 text-align: center;
 font-weight: 400;
 letter-spacing: 1px;
}

.more-button:hover {
 cursor: pointer;
 background-color: $light-purple;
 color: $white;
}

.bitmoji-img {
  padding-left: 50px;
  margin-right: 20%;
  margin-top: 6%;
  border-radius: 50%;
}

.img {
  max-width: 100%;
}

#title {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

