<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div class="intro-section">
    <div class="intro-text">
      <h1><span style="color: #fcc34a;">Hello,</span> my
        <br>name is Adrianna
      </h1>
      <div class="blurb">
        I am a software engineer in the making.
      </div>
      <button type="button" class="more-button" [routerLink]="['/about']">More about me</button>
  </div>

  <div class="bitmoji-img">
    <img src="assets/images/portfolio-bitmoji.png" width=350 length=350 style="border-radius:50%;">
  </div>
</div>
</main>
