<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<main>
  <div class="intro-text">
    <h1>HELLO! MY NAME IS ADRIANNA, AND I AM A SOFTWARE ENGINEER IN THE MAKING.</h1>
    <a class="resume-btn" href="../../../assets/Resume_AdriannaMckeown.pdf" target="_blank">VIEW RESUME</a>
  </div>

  <!--
  <div class="bitmoji-img">
    <img src="../../../assets/images/starwars-blue.png" width=200 length=200>
  </div>-->
</main>
