@import '../../../styles.scss';

main {
  background-color: $ivory;
  align-items: center;
  text-align: center;
  float: flex;
  height: 661px;
}

.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

.intro-text {
 margin-left: 20%;
 display: inline-block;
 width: 60%;
 margin-top: 6%;
 align-items: center;
 text-align: left;
}

 h1 {
   font-size: 70px;
   color: $melon;
   font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', Optima, Arial, sans-serif;
   margin-bottom: -1%;
   font-weight: 400;
   letter-spacing: 1px;
 }

 .blurb {
  font-size: 40px;
  color: $melon;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', Optima, Arial, sans-serif;
  font-weight: 100;
  opacity: 0.85;
  margin-top: 10px;
  margin-bottom: 10px;
 }

.more-button {
 margin-top: 4%;
 border-radius: 12px;
 background-color: none;
 border: 2px solid $tiffany-blue;
 color: $tiffany-blue;
 font-size: 20px;
 padding: 12px 20px;
 //font-family: 'Courier New', monospace;
 font-family: Consolas, monaco, monospace;
 text-align: center;
 font-weight: 400;
 letter-spacing: 1px;
}

.more-button:hover {
 cursor: pointer;
 background-color: $light-purple;
 color: $white;
}

.bitmoji-img {
  margin-right: 20%;
  margin-top: 6%;
  border-radius: 50%;
}

.img {
  max-width: 100%;
}

