@import '../../../styles.scss';

main {
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  left: 30%;
  right: 30%;
  max-width: 60%;
  align-items: center;
  text-align: center;
}

 h1 {
  color: #FFF;
  justify-content: center;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 100;
  font-size: 50px;
  letter-spacing: 10px;
  margin-bottom: -1%;
  letter-spacing: 10px;
}

.more-button {
    position: relative;
    margin-top: 4%;
    border-radius: 12px;
    background-color: none;
    border: 2px solid $tiffany-blue;
    color: $tiffany-blue;
    font-size: 20px;
    padding: 12px 20px;
    //font-family: 'Courier New', monospace;
    font-family: Consolas, monaco, monospace;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
   }

.more-button:hover {
 cursor: pointer;
 background-color: $tiffany-blue;
 color: $white;
}

.bitmoji-img {
  padding-left: 50px;
  margin-right: 20%;
  margin-top: 6%;
  border-radius: 50%;
}

img {
  max-width: 100%;
  border-radius: 50%;
}


