<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div class="projects-section">
    <div class="header-txt"><span style="opacity: 1.5;">02.</span>MY PROJECTS</div>
    <div class="first-row">
      <div class="happle">
        <div class="happle-caption">
          <p class="happle-header">Happle</p>
          <h2 class="happle-skills">A web app for borrowing and lending household items. Create an account, register new items, and view items in your zipcode.</h2>
          <button type="button" class="happle-btn" id="happlebtn" onclick="document.getElementById('id01').style.display='block'">LEARN MORE</button>
          <div id="id01" class="modal">
            <div class="modal-content">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
            <ng-image-slider [images]="happleImages"></ng-image-slider>
                <div class="modal-content-header">Happle</div>
                  <div class="link-section">
                    <a href="https://happle.netlify.app/" class="fa fa-external-link" target="_blank"> VIEW SITE</a>
                    <a href="https://github.com/amckeow3/happle" class="fa fa-github backend" target="_blank"> GITHUB</a>
                  </div>
                </div>
            </div>
          </div>
          <div class="happle-overlay">
            <img class="image" src="../../../assets/images/happle/happle_screenshot.png" width="430" height="225">
          </div>   
        </div>
        <!--
        <a class="a-zdogs">
        <div class="a-zdogs-overlay">
          <img class="image" src="../../../assets/images/a-zdogs/mountains.png" width="430" height="225" />
        </div>
          <div class="a-zdogs-caption">
            <p class="a-zdogs-header">A-Z DOGS LLC</p>
            <p class="a-zdogs-skills">React / JavaScript</p>
            <button type="button" id="a-zbutton" class="a-zdogs-btn" onclick="document.getElementById('id02').style.display='block'">LEARN MORE</button>
            <div id="id02" class="modal">
              <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
            </div>
          </div>
      </a>
      -->
    </div>
  </div>
</main>
