<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div class="icon-bar">
    <a class="fa fa-github" href="https://github.com/amckeow3" target="_blank"></a>
    <a class="fa fa-envelope" href="mailto: adrianna_mckeown@live.com"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/adriannamckeown/" target="_blank"></a>
    <a class="fa fa-facebook" href="https://www.facebook.com/adrianna.mckeown.3" target="_blank"></a>
  </div>
  <div class="components">
    <app-home></app-home>
    <app-about></app-about>
    <app-my-projects></app-my-projects>
    <app-contact></app-contact>
  </div>
</main>
