<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <h1><span>02.</span>MY PROJECTS</h1>
  <div class="projects-section">
    <div class="happle">
      <img class="image" src="../../../assets/images/happle/happle_screenshot.png" width="430" height="225">
      <div class="happle-blurb">
        <h2>HAPPLE</h2>
        <div class="happle-description">A web app for borrowing and lending household items. Create an account, register new items, and view items in your zipcode.
          <button class="happle-btn" id="happlebtn" onclick="document.getElementById('id01').style.display='block'">LEARN MORE</button>
          <div id="id01" class="modal">
            <div class="modal-content">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
              <ng-image-slider class="image-slider" [images]="happleImages" #nav></ng-image-slider>
                <div class="modal-content-header">Happle</div>
                  <div class="link-section">
                    <a href="https://happle.netlify.app/" class="fa fa-external-link" target="_blank"> VIEW SITE</a>
                    <a href="https://github.com/amckeow3/happle" class="fa fa-github" target="_blank"> GITHUB</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>