@import '../../../styles.scss';

main {
  background-color: $dark-purple;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background: none;
  color: $white;
  font-family: "lato", sans-serif;
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: 300;
  opacity: .8;
}

h1 span {
  color: $tiffany-blue;
}