<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<main>
  <h1><span>02.</span>MY PROJECTS</h1>
  <div class="projects-section">
    <div class="happle">
      <img class="image" src="../../../assets/images/happle/happle_screenshot.png" width="430" height="225">
      <div class="happle-blurb">
        <div class="featured-project">Featured Project</div>
        <h2>HAPPLE</h2>
        <div class="happle-description">A web app for selling and purchasing unused household items. Create an account, register new items, and view items in your zipcode.
          
          <table>
            <tr>
              <div class="badge bg-primary">Node.js</div>
              <div class="badge bg-primary">Express</div>
              <div class="badge bg-primary">Angular</div>
              <div class="badge bg-primary">JavaScript</div>
              <div class="badge bg-primary">MongoDB</div>
            </tr>
          </table>
          
          <button class="happle-btn" id="happlebtn" onclick="document.getElementById('id01').style.display='block'">LEARN MORE</button>
          <div id="id01" class="modal">
            <div class="modal-content">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
              <ng-image-slider class="image-slider" [images]="happleImages" #nav></ng-image-slider>
                <div class="modal-content-header">Happle</div>
                  <div class="link-section">
                    <a href="https://happle.netlify.app/" class="fa fa-external-link" target="_blank"> VIEW SITE</a>
                    <a href="https://github.com/amckeow3/happle" class="fa fa-github" target="_blank"> GITHUB</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="other-projects">
    <div class="other-projects-header">Other Noteworthy Projects</div>
    <button class="communal-app-proj" id="happlebtn" onclick="document.getElementById('id02').style.display='block'">
      <div class="other-proj-text">
        <i class="fa fa-folder-o" aria-hidden="true"></i>
        <div class="other-proj-name">Software Sytem Design and Implementation Group Project</div>
        
        <table>
            <tr style="background-color: #66d9e4;">
              <div class="badge bg-primary">Java</div>
              <div class="badge bg-primary">Angular</div>
              <div class="badge bg-primary">HTML/CSS</div>
              <div class="badge bg-primary">JavaScript </div>
              <div class="badge bg-primary">JUnit</div>
            </tr>
          </table>

      </div>
    </button>
      <div id="id02" class="modal">
        <div class="modal-content">
          <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
          <ng-image-slider class="image-slider" [images]="ssdiImages" #nav></ng-image-slider>
            <div class="modal-content-header">Software Sytem Design and Implementation Group Project</div>
              <div class="link-section">
                <a href="https://github.com/mahithagarikipati/Communal-Appliance-And-Sharing/tree/master/CommunalApplianceSharing" class="fa fa-github" target="_blank"> GITHUB</a>
              </div>
            </div>
        </div>
      
   
  </div>
</main>
