$white: #f2f2f2;
$pastel-pink: #ffeff3;
$dark-grey: #464545;
$dark-purple: #01011d;


$yellow-orange: #fcc34a;
$melon: #FF879B;
$teal: #00DB96;

//Pastel Dreams
$hot-pink: #FFAEBC;
$tiffany-blue: #A0E7E5;
$mint: #B4F8C8;
$baby-yellow: #FBE7C6;

//Brilliant Bokeh
$light-red: #FB475E;
$blue-green: #019992;
$mint-green: #44EE77;
$yellow-orangish: #FFB001;

//Candy Hearts
$periwinkle: #CCCCFF;
$seafoam-green: #B5EECB;
$mimosa: #FCECA5;
$peach: #FEC8A7;

//custom
$salmon: #fa8072;
$bright-red: #FF0000;
//$periwinkle: #CCCCFF;
$rose-pink: #FFC0CB;
$rose-red: #fd3599;
$blue-iris: #5A4FCF;
$tiffany-blue: #66d9e4;
$ivory: #f8f1e8;
$light-purple: #ba85ff;


* {
  height: auto;
  box-sizing: border-box;
  background: $dark-purple;
}

body {
  height: 100%;
}

