/*$dark-blue: #002447;
$bright-blue: #ffa46b;
$red-orange: #ff895e;
*/
$dark-purple: #01011d;
$light-purple: #ba85ff;



/*
$dark-blue: #ffeee7;
$bright-blue: #73c0F4;
*/

/*
$dark-blue: #ffd455;
$bright-blue: #FF7F50;
*/




